/* body {
  margin: 50px;
} */
* {
  margin: 0;
}

.table-button {
  flex-direction: column;
  height: 150px;
  width: 100%;
}
.table-button > :first-child {
  font-size: 5rem;
}
.models {
  margin-top: 20px;
  width: 100%;
}
.models:first-child {
  width: 100%;
}
.link {
  text-decoration: none;
  color: aliceblue;
}
.spinner-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linka {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: #1976d2;
}
